h1,h2,h3,h4{
	font-family:"Montserrat-bold";
}




#title{
	background-color:  rgb(238, 27, 48);

	}
#title .container-fluid{
	padding: 3% 12% 7%;
}


.margin{
	margin: auto;

}

.color{
	color:#fff;
	font-family:ubuntu;
	padding-bottom: 3%;
}

.font-brand{
	font-family:merriweather;
}


.rotate{
	width: 300px;
    margin-left: 70px;
	transform:rotate(20deg);
	position:absolute;
	

	}

#features{
	font-family: merriweather;
	text-align: center;
	background-color:#fff;
	position:relative;
	z-index:1;
	padding:8% 10%;

}

#features .container-fluid{
	padding: 3% 7%;
}



p{
	color:#8f8f8f;
}


.fas{
	color:rgb(249, 1, 63);
	padding-bottom: 1rem;}

.fas:hover{
	opacity:50%;
}





#testimonials{
	font-family: merriweather-bold;
	 
	background-color: rgb(238, 27, 48);
	text-align:center;
	color:#fff;
}

#testimonials img{
	border-radius:100%;
	padding:20px;
	width:100px;
}

 .testimonial-content{
 	padding:4% 5%;
 	line-height:2;
 }
#testimonial a{
	margin-left:auto;
}
#testimonials .container-fluid{
	padding:3% 0 3%;
}
#press {
	background-color: rgb(238, 27, 48);
	text-align: center;
	font-family:ubuntu,sans-serif;


}

#press img{

	width:15%;
	

	margin:20px 10px 50px;
}


#pricing{
	margin: 4% 0 7%;
	text-align: center;
}

#pricing .h2{
	font-family: "Merriweather";
	padding:8rem ;

}

#pricing p{
	padding:1% 0 4%;
}

#pricing .h3{
	font-family:"Ubuntu";
}
#pricing .container-fluid{
	padding: 3%  7%;
}
.card{
	margin-bottom: 3%;
}



#cta{
	margin:2% 0 0;
	padding:3% 5% 8%;
	text-align: center;
	background-color: rgb(238, 27, 48);

}

#cta h3{
	

	color:white;
	line-height:2; 
	font-family: Montserrat-bold;
	word-spacing: 7px;
	padding:3% 10%;
}



#footer{
	margin:5% 0 5%;
	text-align: center;
}


@media (max-width:1028px) {
	 #title {
    text-align: center;
  }


.rotate{
	position:static;
	margin-left: 0;
	transform:rotate(0deg);
	}





}

